<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.walterorando.job">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.walterorando.job.Activities.Profile_Activity"
            android:label="Officials" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.walterorando.job.Activities.MainActivity" />
        </activity>
        <activity
            android:name="com.example.walterorando.job.Activities.Settings_Activity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.walterorando.job.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.example.walterorando.job.Activities.Usertype_Activity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.walterorando.job.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.example.walterorando.job.Activities.Invite_Friends_Activity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.walterorando.job.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.example.walterorando.job.Activities.AddStoryActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.walterorando.job.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.example.walterorando.job.Activities.Points_Activity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.walterorando.job.Activities.MainActivity" />
        </activity>

    </application>

</manifest>