<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chalo.nzk"
    android:versionCode="2"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chalo.nzk.NZK"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".C1"></activity>
        <activity android:name=".C2"></activity>
        <activity android:name=".C3"></activity>
        <activity android:name=".C4"></activity>
        <activity android:name=".C5"></activity>
        <activity android:name=".C6"></activity>
        <activity android:name=".C7"></activity>
        <activity android:name=".C8"></activity>
        <activity android:name=".C9"></activity>
        <activity android:name=".C10"></activity>
        <activity android:name=".C11"></activity>
        <activity android:name=".C12"></activity>
        <activity android:name=".C13"></activity>
        <activity android:name=".C14"></activity>
        <activity android:name=".C15"></activity>
        <activity android:name=".C16"></activity>
        <activity android:name=".C17"></activity>
        <activity android:name=".C18"></activity>
        <activity android:name=".C19"></activity>
        <activity android:name=".C20"></activity>
        <activity android:name=".C21"></activity>
        <activity android:name=".C22"></activity>
        <activity android:name=".C23"></activity>
        <activity android:name=".C24"></activity>
        <activity android:name=".C25"></activity>
        <activity android:name=".C26"></activity>
        <activity android:name=".C27"></activity>
        <activity android:name=".C28"></activity>
        <activity android:name=".C29"></activity>
        <activity android:name=".C30"></activity>
        <activity android:name=".H1"></activity>
        <activity android:name=".H2"></activity>
        <activity android:name=".H3"></activity>
        <activity android:name=".H4"></activity>
        <activity android:name=".H5"></activity>
        <activity android:name=".H6"></activity>
        <activity android:name=".H7"></activity>
        <activity android:name=".H8"></activity>
        <activity android:name=".H9"></activity>
        <activity android:name=".H10"></activity>
        <activity android:name=".H11"></activity>
        <activity android:name=".H12"></activity>
        <activity android:name=".H13"></activity>
        <activity android:name=".H14"></activity>
        <activity android:name=".H15"></activity>
        <activity android:name=".H16"></activity>
        <activity android:name=".H17"></activity>
        <activity android:name=".H18"></activity>
        <activity android:name=".H19"></activity>
        <activity android:name=".H20"></activity>
        <activity android:name=".H21"></activity>
        <activity android:name=".H22"></activity>
        <activity android:name=".H23"></activity>
        <activity android:name=".H24"></activity>
        <activity android:name=".H25"></activity>
        <activity android:name=".H26"></activity>
        <activity android:name=".H26a"></activity>
        <activity android:name=".H27"></activity>
        <activity android:name=".H28"></activity>
        <activity android:name=".H29"></activity>
        <activity android:name=".H30"></activity>
        <activity android:name=".H31"></activity>
        <activity android:name=".H32"></activity>
        <activity android:name=".H33"></activity>
        <activity android:name=".H34"></activity>
        <activity android:name=".H35"></activity>
        <activity android:name=".H36"></activity>
        <activity android:name=".H37"></activity>
        <activity android:name=".H38"></activity>
        <activity android:name=".H39"></activity>
        <activity android:name=".H40"></activity>
        <activity android:name=".H41"></activity>
        <activity android:name=".H42"></activity>
        <activity android:name=".H43"></activity>
        <activity android:name=".H44"></activity>
        <activity android:name=".H45"></activity>
        <activity android:name=".H46"></activity>
        <activity android:name=".H47"></activity>
        <activity android:name=".H48"></activity>
        <activity android:name=".H49"></activity>
        <activity android:name=".H50"></activity>
        <activity android:name=".H51"></activity>
        <activity android:name=".H52"></activity>
        <activity android:name=".H53"></activity>
        <activity android:name=".H54"></activity>
        <activity android:name=".H55"></activity>
        <activity android:name=".H56"></activity>
        <activity android:name=".H57"></activity>
        <activity android:name=".H58"></activity>
        <activity android:name=".H59"></activity>
        <activity android:name=".H60"></activity>
        <activity android:name=".H61"></activity>
        <activity android:name=".H62"></activity>
        <activity android:name=".H63"></activity>
        <activity android:name=".H64"></activity>
        <activity android:name=".H65"></activity>
        <activity android:name=".H66"></activity>
        <activity android:name=".H67"></activity>
        <activity android:name=".H68"></activity>
        <activity android:name=".H69"></activity>
        <activity android:name=".H70"></activity>
        <activity android:name=".H71"></activity>
        <activity android:name=".H72"></activity>
        <activity android:name=".H73"></activity>
        <activity android:name=".H74"></activity>
        <activity android:name=".H75"></activity>
        <activity android:name=".H76"></activity>
        <activity android:name=".H77"></activity>
        <activity android:name=".H78"></activity>
        <activity android:name=".H79"></activity>
        <activity android:name=".H80"></activity>
        <activity android:name=".H81"></activity>
        <activity android:name=".H82"></activity>
        <activity android:name=".H83"></activity>
        <activity android:name=".H84"></activity>
        <activity android:name=".H85"></activity>
        <activity android:name=".H86"></activity>
        <activity android:name=".H87"></activity>
        <activity android:name=".H88"></activity>
        <activity android:name=".H89"></activity>
        <activity android:name=".H90"></activity>
        <activity android:name=".H91"></activity>
        <activity android:name=".H92"></activity>
        <activity android:name=".H93"></activity>
        <activity android:name=".H94"></activity>
        <activity android:name=".H95"></activity>
        <activity android:name=".H96"></activity>
        <activity android:name=".H97"></activity>
        <activity android:name=".H98"></activity>
        <activity android:name=".H99"></activity>
        <activity android:name=".H100"></activity>
        <activity android:name=".H101"></activity>
        <activity android:name=".H102"></activity>
        <activity android:name=".H103"></activity>
        <activity android:name=".H104"></activity>
        <activity android:name=".H105"></activity>
        <activity android:name=".H106"></activity>
        <activity android:name=".H107"></activity>
        <activity android:name=".H108"></activity>
        <activity android:name=".H109"></activity>
        <activity android:name=".H110"></activity>
        <activity android:name=".H111"></activity>
        <activity android:name=".H112"></activity>
        <activity android:name=".H113"></activity>
        <activity android:name=".H114"></activity>
        <activity android:name=".H115"></activity>
        <activity android:name=".H116"></activity>
        <activity android:name=".H117"></activity>
        <activity android:name=".H118"></activity>
        <activity android:name=".H119"></activity>
        <activity android:name=".H120"></activity>
        <activity android:name=".H121"></activity>
        <activity android:name=".H122"></activity>
        <activity android:name=".H123"></activity>
        <activity android:name=".H124"></activity>
        <activity android:name=".H125"></activity>
        <activity android:name=".H126"></activity>
        <activity android:name=".H127"></activity>
        <activity android:name=".H128"></activity>
        <activity android:name=".H129"></activity>
        <activity android:name=".H130"></activity>
        <activity android:name=".H131"></activity>
        <activity android:name=".H131a"></activity>
        <activity android:name=".H132"></activity>
        <activity android:name=".H133"></activity>
        <activity android:name=".H134"></activity>
        <activity android:name=".H135"></activity>
        <activity android:name=".H136"></activity>
        <activity android:name=".H137"></activity>
        <activity android:name=".H138"></activity>
        <activity android:name=".H139"></activity>
        <activity android:name=".H140"></activity>
        <activity android:name=".H141"></activity>
        <activity android:name=".H142"></activity>
        <activity android:name=".H143"></activity>
        <activity android:name=".H144"></activity>
        <activity android:name=".H145"></activity>
        <activity android:name=".H146"></activity>
        <activity android:name=".H147"></activity>
        <activity android:name=".H148"></activity>
        <activity android:name=".H149"></activity>
        <activity android:name=".H150"></activity>
        <activity android:name=".H151"></activity>
        <activity android:name=".H152"></activity>
        <activity android:name=".H153"></activity>
        <activity android:name=".H154"></activity>
        <activity android:name=".H155"></activity>
        <activity android:name=".H156"></activity>
        <activity android:name=".H157"></activity>
        <activity android:name=".H158"></activity>
        <activity android:name=".H159"></activity>
        <activity android:name=".H160"></activity>
        <activity android:name=".H161"></activity>
        <activity android:name=".H162"></activity>
        <activity android:name=".H163"></activity>
        <activity android:name=".H164"></activity>
        <activity android:name=".H165"></activity>
        <activity android:name=".H166"></activity>
        <activity android:name=".H167"></activity>
        <activity android:name=".H168"></activity>
        <activity android:name=".H169"></activity>
        <activity android:name=".H170"></activity>
        <activity android:name=".H171"></activity>
        <activity android:name=".H172"></activity>
        <activity android:name=".H173"></activity>
        <activity android:name=".H174"></activity>
        <activity android:name=".H175"></activity>
        <activity android:name=".H176"></activity>
        <activity android:name=".H177"></activity>
        <activity android:name=".H178"></activity>
        <activity android:name=".H179"></activity>
        <activity android:name=".H180"></activity>
        <activity android:name=".H181"></activity>
        <activity android:name=".H182"></activity>
        <activity android:name=".H183"></activity>
        <activity android:name=".H184"></activity>
        <activity android:name=".H185"></activity>
        <activity android:name=".H186"></activity>
        <activity android:name=".H187"></activity>
        <activity android:name=".H188"></activity>
        <activity android:name=".H189"></activity>
        <activity android:name=".H190"></activity>
        <activity android:name=".H191"></activity>
        <activity android:name=".H192"></activity>
        <activity android:name=".H193"></activity>
        <activity android:name=".H194"></activity>
        <activity android:name=".H195"></activity>
        <activity android:name=".H196"></activity>
        <activity android:name=".H197"></activity>
        <activity android:name=".H198"></activity>
        <activity android:name=".H199"></activity>
        <activity android:name=".H200"></activity>
        <activity android:name=".H201"></activity>
        <activity android:name=".H202"></activity>
        <activity android:name=".H203"></activity>
        <activity android:name=".H204"></activity>
        <activity android:name=".H205"></activity>
        <activity android:name=".H206"></activity>
        <activity android:name=".H207"></activity>
        <activity android:name=".H208"></activity>
        <activity android:name=".H209"></activity>
        <activity android:name=".H210"></activity>
        <activity android:name=".H211"></activity>
        <activity android:name=".H212"></activity>
        <activity android:name=".H213"></activity>
        <activity android:name=".H214"></activity>
        <activity android:name=".H215"></activity>
        <activity android:name=".H216"></activity>
        <activity android:name=".H217"></activity>
        <activity android:name=".H218"></activity>
        <activity android:name=".H219"></activity>
        <activity android:name=".H220"></activity>
        <activity android:name=".SongList"></activity>
        <activity android:name=".Yaliyomo"></activity>
        <activity android:name=".About"></activity>
    </application>

</manifest>